<div class="container product">
    <!-- banner -->
    <app-top-banner></app-top-banner>
    <!-- product items -->
    <div class="row align-items-stretch">
        <div class="col-md-6 col-xs-12 mt-4" *ngFor="let item of products.default">
            <app-product-item [productItem]="item"></app-product-item>
        </div>
    </div>
</div>