<div class="top-banner">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-2 text-center">
      <img src="assets/img/projects.png" />
    </div>
    <div class="col-md-8 text-center">
      <h3>Our environmental projects are providing many environmental benefits around the world.</h3>
    </div>
  </div>
</div>