.top-banner {
  background: #c0efa9;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 15px;
  img{
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .top-banner {
    img{
      width: auto;
      margin-bottom: 30px;
    }
  }
}