.productItem {
  // margin-top: 30px;
  height: 100%;
  .card-img-top {
    position: relative;
    img {
      width: 100%;
    }
    .top-title {
      position: absolute;
      left: 15px;
      bottom: 15px;
      padding: 15px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
    .right-action {
      position: absolute;
      right: 15px;
      top: 15px;
      display: flex;
      place-content: center;
      place-items: center;
      flex-flow: column;
      opacity: 0;
      transition: 0.5s;
      .price {
        padding: 4px;
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-weight: bold;
        margin-top: 5px;
      }
    }
  }
  .card-body {
    .card-title {
      color: #d94569;
    }
    .card-subtitle {
      color: #55be4e !important;
      font-weight: bold;
      margin-top: 5px;
    }
    .card-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-height: 1.5; /* fallback */
      max-height: 1.5 * 3; /* fallback */
    }
  }
  &:hover .card-img-top .right-action {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .productItem .card-img-top .right-action {
    opacity: 1 !important;
  }
}
