<div class="card productItem">
    <div class="card-img-top">
        <img src="assets/img/Tile_Image.jpg" alt="...">
        <h5 class="top-title">
            {{productItem.title}}
        </h5>
        <div class="right-action">
            <button type="button" class="btn btn-success btn-lg">Buy Now</button>
            <span class="price">{{productItem.price}}/ton</span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{productItem.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{productItem.lbs_offset}} lbs. offset</h6>
        <p class="card-text">{{productItem.description}}</p>
    </div>
</div>